@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sf-pro';
  src: url('/assets/fonts/SFPRODISPLAYREGULAR.otf');
}
@font-face{
  font-family: 'sf-pro-rounded';
  src: url('/assets/fonts/SF-Pro-Rounded-Medium.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'sf-pro';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}